h1
{
    color:blue;
    font-size: xx-large;
    font-family: cursive;
    text-align: center;


}
body
{

 background-color: rgb(185, 118, 154);  
 
}
h2.moda
{
    text-align: 
}
p
{
    color: brown;
    font-size: larger;

}